

@font-face {
  font-family: 'Coconat-Bold';
  src: url('/Coconat-BoldExt.woff') format('woff'),
       url('/Coconat-BoldExt.woff2') format('woff2');
  /* You can add additional font formats here if needed */
}


@font-face {
  font-family: 'Coconat-Regular';
  src: url('/Coconat-Regular.woff') format('woff'),
       url('/Coconat-Regular.woff2') format('woff2');
  /* You can add additional font formats here if needed */
}

@font-face {
  font-family: 'Cantique';
  src: url('/Cantique-Normal.woff') format('woff');
}

#info-toggle {
  position: absolute;
  left: 85%;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  font-family: 'Coconat-Bold';
  text-shadow: 2px 2px 5px #FF00FF;
  color: #FFCE00;
  font-size: 30px;
}

#info-close {
  position: absolute;
  left: 85%;
  margin-top: 10px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  font-family: 'Coconat-Bold';
  text-shadow: 2px 2px 5px #FF00FF;
  color: #FFCE00;
  font-size: 30px;
}

.information{
  
  display: none;
  width: 100%;
  top: 0%;
  left: 0%;
  height: 600%;
  position: absolute;
  align-items: center;
  text-align: center;
  background-color:black;
z-index: 999;

}

.info-text{
  font-size: 18px;
  color: white;
  text-align: left;
  align-items: center;
  margin-left: 7%;
  margin-right: 7%;
  font-family: 'Coconat-Regular';
  
}

.subtitle{
  font-size: 18px;
  color: white;
  text-align: left;
  align-items: center;
  margin-left: 7%;
  margin-right: 7%;
  font-family: 'Cantique';
}

.title2{
  padding-top: 4%;
  text-align: center;
  align-items: center;
  margin-left: 7%;
  margin-right: 7%;
  color: white;
  font-family: 'Cantique';
  font-size: 30px;
}

.background-image {
  width: 350vw; /* Adjust this value to make the background image larger */
  height: 350vh; /* Adjust this value to make the background image larger */
  background-image: url("/assets/backdrop1.png");
  background-size: 350vw 350vh;
  left: -100vw;
  top: -120vh; /* Center the image vertically in the viewport */
  position: absolute;
  z-index: 0;

}



.onelinkthree {
  top: 160vh;
  left: -90vw;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 15vh;
}




.sixlinktwo {
  top: 170vh;
  left: 30vw;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 28vh;
}

.sevenlinkone {
  top: 15vh;
  left: 190vw;
  position: absolute;
  border: 1px solid;
  border-color: transparent;
  font-size: 28vh;
}

.sevenlinktwo {
  top: 5vh;
  left: 180vw;
  position: absolute;
  border: 1px solid;
  border-color: balck;
  font-size: 28vh;
}


a {
  color: transparent;
  animation: glow 1s infinite alternate;

}
a:hover {
  animation: glow 1s infinite alternate;
}







.one_a img {
  position: absolute;
  width: 28vw; /* Adjust the width as needed */
  height: 35vh; /* Maintain aspect ratio */
  top: 136vh; 
  left: -43vw;
  animation: glow 1s infinite alternate;
}

.one_b img {
  position: absolute;
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: 177vh; 
  left: -60vw;
  animation: glow 1s infinite alternate;
}

.two_a img {
  position: absolute;
  width: 30vw; /* Adjust the width as needed */
  height: 37vh; /* Maintain aspect ratio */
  top: 87vh; 
  left: -27vw;
  animation: glow 1s infinite alternate; 
}

.two_b img {
  position: absolute;
  width: 25vw; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: 10vh; 
  left: -95vw;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}

.two_c img {
  position: absolute;
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: 15vh; 
  left: -40vw; 
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}

.two_d img {
  position: absolute;
  width: 700px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: 40vh; 
  left: -30vw; 
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}

.three_a img {
  position: absolute;
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: -20vh; 
  left: -50vw;
  animation: glow 1s infinite alternate;
}

.three_b img{
  position: absolute;

  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  top: -122vh; 
  left: -87vw;
  margin: 20px;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
  
}

.three_c img{
  position: absolute;

  width: 300px;
  height: auto; 
  top: -60vh; 
  left: -80vw;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
  margin: 20px;
}

.three_d img{
  position: absolute;

  width: 400px;
  height: auto; 
  top: -100vh; 
  left: -5vw;
  margin: 20px;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
  z-index: 999;
}

.four_a img {
  position: absolute;
  width: 27vw; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  left: 10vw;
  top: -75vh; 
  animation: glow 1s infinite alternate;
}

.five_a img {
  position: absolute;
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  left: 13vw;
  top: -13vh; 
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}
.five_b video {
  position: absolute;
  width: 25vw; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  left: 17vw;
  top: 42vh; 
  animation: glow 1s infinite alternate;
}

.five_c img {
  position: absolute;
  width: 500px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  left: 5vw;
  top: 74vh; 
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}

.five_d img {
  position: absolute;
  width: 25vw; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  left:50vw;
  top: 5vh;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}

.six_a img {
  position: absolute;
  width: 370px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  left: 9vw;
  top: 130vh; 
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}


.seven_a img{
  position: absolute;

  width: 300px;
  height: auto; 
  top: -100vh; 
  left: 220vw;
  animation: glow 1s infinite alternate;
  margin: 20px;
}


.seven_b img{
  position: absolute;

  width: 35vw;
  height: auto; 
  top: -67vh; 
  left: 212vw;
  animation: glow 1s infinite alternate;
  margin: 20px;
}

.eight_a img{
  position: absolute;
  width: 340px;
  height: auto; 
  top: 79vh; 
  left: 105vw;
  animation: glow 1s infinite alternate;
  margin: 20px;
}

.eight_b img{
  position: absolute;
  width: 22vw;
  height: auto; 
  top: 90vh; 
  left: 151vw;
  margin: 20px;
  z-index: 999;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}



.nine_a video{
  position: absolute;

  width: 70vw;
  height: auto; 
  top: 118vh; 
  left: 100vw;
  animation: glow 1s infinite alternate;
  margin: 20px;
}

.eleven_a img{
  position: absolute;

  width: 200px;
  height: auto; 
  top: 100vh; 
  left: 185vw; 
  margin: 20px;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}


.eleven_b {
  position: absolute;

  width: 300px;
  height: auto; 
  top: 140vh; 
  left: 206vw; 
  margin: 20px;

  
}

.elevenb {
  position: absolute;

  width: 300px;
  height: auto; 
  margin: 20px;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));

  
}


.eleven_popup_b img{
  
  position: absolute;
  width: 300px;
  height: auto; 
  top: 140vh; 
  left: 206vw; 
  margin: 20px;
  filter: drop-shadow(10px 10px 20px rgb(255, 67, 161));
}

.eleven_popup_c {
  display: none;
  position: absolute;
width: 100%;
height: 100%;
top: 0%;
left: 0%;
  background-color:  rgba(0, 0, 0, 0.7);
  z-index: 1000;
}



.floor{
  
  position: absolute;
  top: 30%;
  left: 50%;

  width: 800px;
  height: auto; 
  margin: 20px;

}

.floorb{
  
  position: absolute;

  width: 800px;
  height: auto; 
  margin: 20px;
  left: 0%;
  top: 1%;;

}

#close-floorplan{
  
  position: absolute;
  left: 90%; 
  top:1%;
  margin-top: 10px;
  cursor: pointer;
  background: transparent;
  border: 2px 2px 5px #FF00FF;
  height: 60px;
  font-family: 'Cantique';
  text-shadow: 2px 2px 5px #FF00FF;
  color: rgb(255, 211, 33);
  font-size: 30px;

}









.overlay {
  display: none;
  position: fixed;
  background-image: url("/Untitled-1.png");
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  black;
  z-index: 999; /* Ensure it's above other content */
}

.intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  
}

.Text {
  font-family: 'Coconat-Regular';
  font-size: 18px;
  text-shadow:2px 2px 2px #FF00FF;
  color: #0A00FF;
  
}

.sub {
  font-family: 'Coconat-Bold';
  font-size: 18px;
  text-shadow:2px 2px 2px #FF00FF;
  color: #0A00FF;
  
}

.title {
  padding-top: 14%;
  font-family: 'Cantique';
  font-size: 40px;
  color: #0A00FF;
  text-shadow: 2px 2px 2px #FF00FF; 
}


#close-intro {
  position: relative;
  margin-top: 10px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  font-family: 'Coconat-Bold';
  text-shadow: 2px 2px 5px #FF00FF;
  color: #FFCE00;
  font-size: 30px;
}



@keyframes glow {
  from {
    box-shadow: 2px 2px 10px rgb(255, 67, 161), -2px -2px 10px rgb(255, 67, 161);  
  }
  to {
    box-shadow: 10px 10px 20px white, -10px -10px 20px white;  
  }
}

